<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="messageService" class="es.us.eii.sugus.xml.MessageService"/>

    <bean id="messagePrinter" class="es.us.eii.sugus.xml.MessagePrinter">
        <property name="service" ref="messageService"/>
    </bean>

</beans>