<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="messageService" class="es.us.eii.sugus.xml.MessageService">
        <constructor-arg ref="transactionManager"/>
        <property name="sessionFactory"  ref="mySessionFactory"/>
        <property name="random">
            <bean class="java.util.Random"/>
        </property>
    </bean>

    <bean id="messagePrinter" class="es.us.eii.sugus.xml.MessagePrinter">
        <property name="service" ref="messageService"/>
    </bean>

    <!-- JDBC Data Source. It is assumed you have MySQL running on localhost port 3306 with
         username root and blank password. Change below if it's not the case -->
    <bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/demospring"/>
        <property name="username" value="demospring"/>
        <property name="password" value="demospring"/>
        <property name="validationQuery" value="SELECT 1"/>
    </bean>

    <!-- Hibernate Session Factory -->
    <bean id="mySessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="myDataSource"/>
        <property name="packagesToScan" value="es.us.eii.sugus.xml.model"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
            </props>
        </property>
    </bean>

    <!-- Hibernate Transaction Manager -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="mySessionFactory"/>
    </bean>

</beans>